.cache
.coverage
.coverage.*
.devcontainer
.env
.git
.github
.hypothesis
.mypy_cache
.pytest_cache
.Python
.states
.tox
.venv
.vscode
.web
*.cover
*.log
*.so
*.sql
**/__pycache__/
**/*.pyc
**/*.pyd
**/*.pyo
coverage.xml
docs
htmlcov
images
infra
Makefile
nosetests.xml
scripts
tests
